<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title >
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <form method="post" action="#" th:action="@{/addcourse}" th:object="${course}">
        <label>Course Name</label>
        <input class="form-control" type="text" th:field="*{name}"/>
        <label>Semester </label>
        <input class="form-control" type="text" th:field="*{semester}"/>
        <button type="submit" value="submit" class="btn btn-outline-dark">submit</button>
        <button type="reset" class="btn btn-outline-dark">Reset</button>
    </form>
    <div th:replace="base ::footer"></div>
</div>

</body>
</html>