<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>

<div class="container">
    <div th:replace="base :: navlinks"></div>
    <form method="post" action="#" th:action="@{/makepost}" th:object="${post}">
        <label>Link</label>
        <input class="form-control" type="text" th:field="*{link}"/>
        <label>Content</label>
        <textarea class="form-control"  th:field="*{content}"></textarea>
        <button type="submit" value="submit" class="btn btn-outline-dark">submit</button>
        <button type="reset" class="btn btn-outline-dark">Reset</button>
    </form>
    <div th:replace="base ::footer"></div>
</div>

</body>
</html>