<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Profile Page</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="base :: navlinks"></div>
    <img th:src="${currUser.picUrl}" />
    <p>Hello user designation: [[${currUser.firstName}]]</p>
    <p>Email: [[${currUser.email}]]</p>
    <p>LinkedIn: <a th:href="@{${currUser.linkedIn}}" target="_blank">[[${currUser.linkedIn}]]</a></p>
    <p>Git hub<a th:href="@{${currUser.github}}" target="_blank"> [[${currUser.github}]]</a></p>
    <p>Classes That you have taken</p>
    <div th:each="acourse:${currUser.courses}">
        <p>Course: [[${acourse.name}]] Semester: [[${acourse.semester}]]</p>
    </div>
    <div th:replace="base ::footer"></div>
</div>

</body>
</html>