<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roster</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">
    <div th:replace="base :: navlinks"></div>

    <div class=" border border-dark p-2" th:each="actCourse:${allCourses}">
        <div class="row">
            <div class="col-md-4">
                <h3>[[${actCourse.name}]] [[${actCourse.semester}]]</h3>
                <div th:each="student:${actCourse.users}">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" th:src="${student.picUrl}" width="100px"
                             height="100px" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">[[${student.username}]]</h5>
                            <p class="card-text">[[${student.firstName}]] [[${student.lastName}]]</p>
                            <p>Email : [[${student.email}]]</p>
                            <a th:href="@{${student.linkedIn}}" class="btn btn-primary">LinkedIn</a>
                            <a th:href="@{${student.github}}" class="btn btn-primary">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="base ::footer"></div>
</div>

</body>
</html>